

/* border radius */

$radius: 0.2rem;

*,
*::before,
*::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        }
 body {
 font-family: Oxygen, sans-serf;
 margin:6rem
 }
 .outer_card__wrapper{
    display: grid;
    width: 1200px;
    /*flex-direction: row;
    margin: 5rem;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 40rem));
    gap: 3rem;
    margin-lower: 10rem;*/
    justify-content: left;

    background: #282c34;
}
.outer_card__wrapper > div {
      background-color: #282c34;
      padding: 2px;
    }

.conferenceGroup {
    margin: 2rem;
}



.simple_game__summary{
    margin-top: .25rem;
}

.matchup_spinner__wrapper{
    display: flex;
    margin: 5rem;
    justify-content: center;


}

.comparison_button_container{
    display: flex;
    gap: .75rem;
    text-align: center;
    justify-content: left;
    flex-wrap: wrap;
    margin: .5rem;
}


.card{
    overflow: hidden;
    box-shadow: 0 2px 20px $clr-gray300;
    border-radius: $radius;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
    background: white;

    &__image{
    height: 12rem;
    width:100%;
    object-fit:cover;
    }

    &__title{
        padding:1rem;
        textAlign: center;
        }
    &__description{
    padding: 0 1rem;
    }

    &__btn{
    padding:1rem;
    font-family:inherit;
    font-weight:bold;
    font-size:1rem;
    margin:1rem;
    border:2px solid $clr-primary;
    background: transparent;
    color: $clr-primary;
    border-radius: $radius;
    transition: background 200ms ease-in, color 200ms ease-in
    }

    &:hover{
    transform:scale(1.02);
    }

    &:hover &__btn{
    background:$clr-primary;
    color:white;
    }
}

.login_container {
  text-align: center;
  align: center;
  justify: center;
  font-size: calc(10px + 2vmin);
  color: #c9e1dc;
}

.App {
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: #c9e1dc;
}

.App-MainLogo {
  height: 20rem;
  margin: 4.5rem;
}

.App-logoL2R {
  height: 25vmin;
  width: 40vmin;
  pointer-events: none;
  margin-top: 1rem;
  margin-left: 12rem;
  text-align: left;
}

.App-logoR2L {
  height: 25vmin;
  width: 40vmin;
  pointer-events: none;
  margin-top: 1rem;
  margin-right: 12rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-MainLogo {
    animation: zoom-in-zoom-out infinite 30s linear;
    animation-delay: 2s;
  }
}

{/*@media (prefers-reduced-motion: no-preference) {
  .App-logoL2R {
    animation: Logo-spinL2R infinite 10s ease-in-out;
    animation-delay: 2s;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logoR2L {
    animation: Logo-spinR2L infinite 10s ease-in-out;
    animation-delay: 2s;
  }
}
*/}
.App-header {
  min-height: 21vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  color: #c9e1dc;
}
.lexicon-table {
    justify-content: center;
    display: flex;
}
.logos {
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
}

.App-link {
  color: #f1a20d;
}

@keyframes Logo-spinL2R {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes Logo-spinR2L {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
  }
